.cover__link{
  width: 100%;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

/* От 1024px */
@media (min-width: 1024px) and (max-width: 1279.9px) {
  .cover__link{
    min-height: 640px;
  }
}

/* От 768px */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .cover__link{
    min-height: 480px;
  }
}

/* От 320px */
@media (max-width: 767.9px) {
  .cover__link{
    min-height: 200px;
  }
}
