@font-face {
  font-family: 'Inter-Thin';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url(../../vendor/font/Inter-Thin.woff2) format("woff2"),
       url(../../vendor/font/Inter-Thin.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Regular';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../vendor/font/Inter-Regular.woff2) format("woff2"),
       url(../../vendor/font/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Inter-Medium';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url(../../vendor/font/Inter-Medium.woff2) format("woff2"),
       url(../../vendor/font/Inter-Medium.woff) format("woff");
}

.root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px; /* убрать */
  min-height: 100vh;
  background-color: #2A2C2F;
  color: #fff;
  font-family: Inter-Regular, Arial, sans-serif;
}

.two-columns{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px dashed white;
}

/* Блок Header */

.header{
  margin: 0;
  padding: 0;
}

.header__logo{
  margin: 28px 0 0 48px;
  padding: 0;
  background-image: url('../../images/header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 156px;
  height: 52px;
}

.header__links{
  display: flex;
  margin: 46px 48px 0 0;
  padding: 0;
  list-style: none;
}

.header__lang-link{
  margin: 0 0 0 18px;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.header__lang-link_active{
  text-decoration: underline;
}

.header__title{
  margin: 56px auto 0;
  width: 720px;
  min-height: 200px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  border: 2px dashed white;
}

.header__subtitle{
  margin: 32px auto 0;
  padding: 0;
  width: 640px;
  min-height: 72px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  border: 2px dashed white;
}

/* Блок Description */

.description__container{
  margin: 64px auto 0;
  width: 984px;
  border: 2px dashed white;
}

.description__main-illustrtation{
  margin: 0;
  width: 100%;
}

.description__caption{
  margin: 8px 0 0;
  padding: 0;
  /* width: 158px; */
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.description__title{
  margin: 114px 0 0;
  padding: 0;
}

.description__text{
  margin: 40px 0 0;
  padding: 0;
}

.description__list{
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
}

/* Блок Gallery */

.gallery{
  margin: 92px 48px 0;
  display: flex;
  border: 2px dashed white;
}

.gallery__container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

.gallery__item{
  width: 284px;
}

/* Блок Trains */
.trains{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  border: 2px dashed white;
}

.trains__background{
  margin: 0 auto;
  width: 1184px;
  height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: contain;
}

.trains__overlay{
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 1184px;
  height: 740px;
  background-color: #2a2c2f30;
  transition: background-color .4s;
  /* border: 2px dashed white; */
}

.trains__overlay:hover{
  background-color: #2a2c2f80;
}

.trains__title{
  margin: 245px auto 0;
  padding: 0;
  width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}

.trains__subtitle{
  margin: 32px auto 0;
  padding: 0;
  width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}



/* Блок Footer */
.footer{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 2px dashed white;
}

.footer__navigation{
  margin: 92px 0 24px 48px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  /* border: 2px dashed white; */
}

.footer__links{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link{
  margin: 0 18px 0 0;
  color: #fff;
  text-decoration: none;
}

.footer__copyright  {
  margin: 94px 48px 24px 0;
  padding: 0;
  /* border: 2px dashed white; */
}


