.photo-grid{
  margin: 92px auto 0;
  padding: 0;
  width: calc(100% - 48px * 2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

/* От 1024px */
@media (min-width: 1024px) and (max-width: 1279.9px) {
  .photo-grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

/* От 768px */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .photo-grid{
    margin: 88px auto 0;
    width: calc(100% - 24px * 2);
    grid-template-columns: repeat(2, 1fr);
  }
}

/* От 320px */
@media (max-width: 767.9px) {
  .photo-grid{
    margin: 64px auto 0;
    width: calc(100% - 16px * 2);
    grid-template-columns: 100%;
    gap: 12px;
  }
}
