.places{
  margin: 92px auto 0;
  padding: 0;
  width: 76.9%;
}

/* От 1024px */
@media (min-width: 1024px) and (max-width: 1279.9px) {
  .places{
    width: 90.6%;
  }
}

/* От 768px */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .places{
    margin: 88px auto 0;
    width: 93.8%;
  }
}

/* От 320px */
@media (max-width: 767.9px) {
  .places{
    margin: 64px auto 0;
    width: 100%;
  }
}
