.places-item{
  margin: 80px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 46.7% 49.2%;
  grid-template-rows: auto;
  row-gap: 48px;
  column-gap: 4.1%;
}

.places-item:first-of-type{
  margin: 0;
}

/* От 1024px */
@media (min-width: 1024px) and (max-width: 1279.9px) {
  .places-item{
    column-gap: 3.4%;
  }
}

/* От 768px */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .places-item{
    column-gap: 3.9%;
  }
}

/* От 320px */
@media (max-width: 767.9px) {
  .places-item{
    grid-template-columns: 100%;
    row-gap: 32px;
  }
}
