.lead{
  margin: 56px auto 0;
  width: calc(100% - 148px * 2);
}

/* До 1280px */
@media (max-width: 1279.9px) {
  .lead{
    margin: 48px auto 0;
  }
}

/* От 1024px */
@media (min-width: 1024px) and (max-width: 1279.9px) {
  .lead{
    width: calc(100% - 48px * 2);
  }
}

/* От 768px */
@media (max-width: 1023.9px) {
  .lead{
    width: 100%;
  }
}
