.header__logo{
  margin: 0;
  padding: 0;
  background-image: url('../../../images/header-logo.svg');
  background-size: 176px;
  background-repeat: no-repeat;
  width: 176px;
  height: 52px;
}

/* От 320px */
@media (max-width: 767.9px) {
  .header__logo{
    background-size: 142px;
    width: 142px;
    height: 42px;
  }
}
