.header{
  margin: 28px auto 0;
  padding: 0;
  width: calc(100% - 48px * 2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* От 768px */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .header{
    width: calc(100% - 24px * 2);
  }
}

/* От 320px */
@media (max-width: 767.9px) {
  .header{
    margin: 16px auto 0;
    width: calc(100% - 16px * 2);
  }
}
