.lead__title{
  margin: 0 auto;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}

/* От 320px */
@media (max-width: 767.9px) {
  .lead__title{
    margin: 0 auto;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
