.footer__links{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* От 320px */
@media (max-width: 767.9px) {
  .footer__links{
    flex-direction: column;
  }
}
