.lead__image{
  margin: 64px 0 0;
  width: 100%;
}

/* От 768px */
@media (min-width: 768px) and (max-width: 1279.9px) {
  .lead__image{
    margin: 56px 0 0;
  }
}

/* От 320px */
@media (max-width: 767.9px) {
  .lead__image{
    margin: 40px 0 0;
  }
}
