.intro{
  margin: 92px auto 0 148px;
  padding: 0;
  width: 690px;
}

@media (min-width: 1024px) and (max-width: 1279.99px) {
  .intro{
    margin: 92px auto 0 48px;
  }
}

@media (min-width: 768px) and (max-width: 1023.99px) {
  .intro{
    margin: 88px auto 0 24px;
    width: 720px;
  }
}

@media (max-width: 767.99px) {
  .intro{
    margin: 64px auto 0;
    width: calc(100% - 16px * 2);
  }
}

